node_modules/
www/
dist/
release/
.DS_Store
*.log
android/.gradle/
android/app/build/
android/app/release/
android/local.properties
android/captures/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
.idea/
.vscode/
*.iml
.env
steam_appid.txt
